@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: "Quicksand", sans-serif;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border: 3px solid black;
}

.recipes {
    margin-top: 50px;
    list-style: decimal-leading-zero;
    margin-bottom: 50px;
}

.recipes li {
    margin-top: 10px;
}

ul li,
ol li {
    margin-top: 10px;
}

h2 {
    margin-top: 30px;
}