body {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.recipes {
    margin-top: 50px;
    list-style: decimal-leading-zero;
    margin-bottom: 50px;
}

.recipes li {
    margin-top: 10px;
}